@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url(//db.onlinewebfonts.com/c/4aa3e37e571255737e5e6d4e9d9770a5?family=Rockwell);
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url(//db.onlinewebfonts.com/c/4aa3e37e571255737e5e6d4e9d9770a5?family=Rockwell);
.artistPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 130vh;
  background: #1E1D1D;
  overflow-wrap: break-word;
  overflow: hidden;
}

.artistPage__artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

.artistPage__typo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 70%;
  margin-left: 10vh;
  margin-bottom: 10vh;
  width: 60%;
}

.artistPage__link {
  display: inline;
  text-decoration: none;
}

.artistPage__name {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 117.17%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 15rem;
  font-size: 6rem;
  font-family: 'Times New Roman', 'sans-serif';
}

.artistPage__description {
  width: 90%;
  max-height: 10vh;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 117.17%;
  color: #c4c4c4;
}

.artistPage__imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 50vh;
  overflow: hidden;
}

.artistPage__img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 70%;
}

.artistPage__songBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
}

.artistPage__songBlock h1 {
  font-family: "Righteous", cursive;
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 2rem;
  margin-right: 40vw;
}

.titleBlock__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.titleBlock__button {
  margin: 30px 20px;
}
/*# sourceMappingURL=artist.css.map */