@import '../../mixins';
@import '../../variables';

.loginPage {
  margin: 0;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.5);
  @include flex(row, center, center);
  &__form {
    @include flex(column, center, center);
    height: 50vh;
    width: 50vw;
    background: $text-color-faded;
    opacity: 1;
  }
  &__input {
    @include input(50%, 20%);
    margin: 0;
    border-radius: 5px;
  }
  &__remember {
    @include flex(row, center, center);
  }
  &__p {
    @include details-text;
    color: black;
  }
}
